.opener{
    background-image: url(images/step.jpg);
    background-position: center;
    height: 100vh;
    background-size: cover;
}
.third{
    background-image: url(images/mac.jpg);
    height: 100vh;
    background-position: center;
}