.opener{
    background-image: url(images/step.jpg);
    background-position: center;
    height: 100vh;
    background-size: cover;
}
.third{
    background-image: url(images/mac.jpg);
    height: 100vh;
    background-position: center;
}
.num1{
    display: none;
}
.num2{
    display: none;
}
.num3{
    display: none;
}
.pictures img:hover{
    transform: scale(1.10);
}
.sixth{
    background-image: url(sixth/shop.jpg);
    height: 100vh;
    background-position: center;
}
.work4{
    display: none;
}
.work3{
    display: none;
}
.work2{
    display: none;
}
.work1{
    display: none;
}
.work5{
    display: none;
}
.work6{
    display: none;
}
.work7{
    display: none;
}
.work8{
    display: none;
}